@page "/user"
@inherits PageComponent
@attribute [Authorize]
@inject IStringLocalizer<Index> Localizer

<Table DataSource="_data"
       TItem="User"
       Total="_total"
       @bind-PageIndex="_page"
       @bind-PageSize="_pageSize"
       OnPageIndexChange="OnPageIndexChange"
       Bordered
       TableLayout="fixed">
    <ChildContent Context="data">
        <AntDesign.Column @bind-Field="data.Id" Title="@data.DisplayNameFor(nameof (data.Id))" />

        <AntDesign.Column TData="UserType" Title="@data.DisplayNameFor(nameof (data.Type))">
            @data.Type.DisplayName()
        </AntDesign.Column>

        <AntDesign.Column @bind-Field="data.UserName" Title="@data.DisplayNameFor(nameof (data.UserName))" />

        <AntDesign.Column @bind-Field="data.Email" Title="@data.DisplayNameFor(nameof (data.Email))" />

        <AntDesign.Column @bind-Field="data.PhoneNumber" Title="@data.DisplayNameFor(nameof (data.PhoneNumber))" />

        <AntDesign.Column @bind-Field="data.Name" Title="@data.DisplayNameFor(nameof (data.Name))" />

        <AntDesign.Column TData="bool" Title="@data.DisplayNameFor(nameof (data.IsActive))">
            @(data.IsActive ? Localizer["Yes"] : Localizer["No"])
        </AntDesign.Column>

        <AntDesign.Column TData="DateTime" Title="@data.DisplayNameFor(nameof (data.RegisterDateTime))">
            @data.RegisterDateTime.ToLocalTime().ToString("yyyy/M/d HH:mm")
        </AntDesign.Column>

        <ActionColumn Title="@Localizer["Action"]" Style="display: flex; justify-content: space-around;">
            <UserEditModal @bind-User="data" Title="@Localizer["User Edit"]" ButtonText="@Localizer["Edit"]" />
            <UserDeleteModal UserId="@data.Id" Title="@Localizer["User Delete"]" ButtonText="@Localizer["Delete"]" AfterDelete="AfterDelete" />
        </ActionColumn>
    </ChildContent>
</Table>