<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">@Config.IdP.DisplayName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"></ul>
            @if (string.IsNullOrEmpty(Context.Request.Query["returnUrl"].ToString()))
            {
                <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item @Html.IsActive("Account", "Edit")">
                        <a class="nav-link" asp-controller="Account" asp-action="Edit">个人信息</a>
                    </li>
                    <li class="nav-item @Html.IsActive("Account", "Logout")">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">登出</a>
                    </li>
                }
                else
                {
                    <li class="nav-item @Html.IsActive("Account", "Register")">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">注册</a>
                    </li>
                    <li class="nav-item @Html.IsActive("Account", "Login")">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">登录</a>
                    </li>
                }
                </ul>
            }
        </div>
    </nav>
</header>